/* fonts
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Nunito', sans-serif;
*/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url(assets/587453.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


h1
{
    font-family: 'Bungee Hairline', cursive;
    font-size: 60px;
    color: aliceblue;
    position: fixed;
    text-align: center;
    top: 25%;
    width: 100%;
    transform: translateY(-50%);
}

a
{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: rgb(44, 33, 11);
    background-color: rgb(245, 213, 155);
    position: fixed;
    top: 75%;
    left: 50%;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 80px;
}

a:hover
{
    background-color: rgb(243, 224, 190);
}
